<div>

    <div class="card">
        <div class="card-header">Filtrar</div>
        <div class="card-body">
            <form>
                <div class="row mb-2">
                    
                    <div class="form-group col">
                        <label for="de">De:</label>
                        <input #de type="number" id="de" class="form-control">
                    </div>
                    
                    <div class="form-group col">
                        <label for="ate">Até:</label>
                        <input #ate type="number" id="ate" class="form-control">
                    </div>
                </div>
                   
            </form>
           

                <button class="btn btn-outline-primary btn-sm mt-2 me-2" (click)="sendPriceRange(de.value,ate.value)">Filtrar</button>
                <button class="btn btn-outline-secondary btn-sm mt-2 " (click)="sendPriceRange('0','0'); de.value='';ate.value=''">Limpar Filtro</button>
        </div>
    </div>
    
</div>